<div class="main">

    <div class="picture">
      <img src="{{beer.image_url}}" />
      <h2>{{beer.name}}</h2>
      <h3>{{beer.tagline}}</h3>
      <p>{{beer.description}}</p>
      <p>{{beer.food_pairing}}</p>
      <p>{{beer.first_brewed}}</p>
    </div>

</div> 